.faq-section {
    display: flex;
    margin: 40px;
}

.left {
    width: 20%;
    text-align: center;
    align-items: center;
    padding: 40px;
    background-color: lightsalmon;
}

.right {
    width: 80%;
    padding: 40px;
    background-color: mistyrose;
}

.question {
    margin: 10px 0px 20px 0;
}

.right:nth-child(4) {
    margin-bottom: 0px;
}

summary {
    font-weight: bold;
    margin-bottom: 10px;
}


.top-banner {
    background-image: url(/images/hand-picked.jpg);
    background-repeat: no-repeat;
    height: 200px;
}