body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 2000px;
}

/* Nav Bar */
#nav_menu ul li {
    list-style: none;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 80px;
}

#nav_logo {
    color: darkolivegreen;
    font-weight: bolder;
    margin: 10px;
    padding: 0 0 0 25px;
    font-size: 20px;
}

#nav_menu {
    display: flex;
    list-style: none;
}

#nav_menu li {
    padding: 5px 10px;
    margin: 1px;
    border: 2px solid;
}

#nav_menu li:hover {
    border-bottom: white 2px solid;
}

.navbar a {
    text-decoration: none;
    color: rgb(247, 238, 228);
}

#signin {
    margin: 0 30px 0 0;
    padding: 5px 20px;
}

/* ! How do I assign to change font color to black as I change background color? it only changes color when the cursor is hovering actual anchor tag */
#signin {
    color: rgb(247, 238, 228);
}

#signin:hover {
    background-color: white;
    color: #1b1b1b;
    border-radius: 5px;
}

#signin_a {
    color: inherit;
}

/* Introduction Part */
#main_intro {
    background-image: url(/images/tea-leaves.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
}

#main_intro h2 {
    margin-top: 0;
    width: 400px;
    color: white;
    position: relative;
    top: 90px;
    left: 50px;
}

#main_intro p {
    width: 300px;
    color: white;
    position: relative;
    top: 90px;
    left: 50px;

}

/* ! Can I use href attribute on button? */
#main_intro button {
    position: relative;
    top: 110px;
    left: 50px;
    background-color: #1b1b1b;
    border: gray 1px solid;
    border-radius: 5px;
    color: white;
    padding: 6px 12px;
}

/* Banners */
.product {
    margin: 0px 32px;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.product_heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.product_banner {
    width: 20%;
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
    height: 440px;
}

.banner_name {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tea_image {
    width: 150px;
}

.banner_info {
    height: 140px;
    font-size: 14px;
    margin: 15px 0;
}

.banner_price {
    margin: 20px 0;
}

.banner_addtocart {
    background-color: darkolivegreen;
    color: white;
    padding: 5px 24px;
    border-radius: 3px;
    text-decoration: none;
}

.allrange {
    display: flex;
    justify-content: flex-end;
}

/* ! How do I place this anchor tag on right side? */
.btn_allrange {
    text-decoration: none;
    color: black;
    border-bottom: black dotted 1.5px;
    margin: 20px 0;
}

.environment {
    background-image: url(/images/tea-farm.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.environment::before {
    content: '' ;
    background: linear-gradient(to right, black, transparent);
    position: absolute;
    left: 0;
    height: 500px;
    width: 100%;
}

.environment h2 {
    color: white;
    width: 500px;
    z-index: 1;
}

.environment p {
    color: white;
    width: 400px;
    z-index: 1;
}

.environment button {
    background-color: white;
    border: white 1px;
    border-radius: 5px;
    padding: 6px 12px;
    opacity: 80%;
    width: 150px;
}
